<div class="tasks-container">
  <h2>Tasks</h2>
  <div class="task-input">
    <mat-form-field>
      <mat-form-field>
        <input matInput
               placeholder="New task"
               [ngModel]="newTaskTitle$ | async"
               (ngModelChange)="onTaskInputChange($event)"
               (keyup.enter)="addTask()">
      </mat-form-field>
    </mat-form-field>
  </div>
  <mat-list cdkDropList (cdkDropListDropped)="onDrop($event)">
    <mat-list-item *ngFor="let task of tasks$ | async" cdkDrag>
      <span [class.active]="(activeTask$ | async)?.id === task.id">{{ task.title }}</span>
      <span class="task-duration">{{ task.elapsedTime === 0 ? formatTaskElapsedTime(task.duration) : formatTaskElapsedTime(task.elapsedTime) }}</span>
      <span class="task-state">{{ task.state }}</span>
      <button mat-icon-button (click)="completeTask(task)" [disabled]="task.state === 'completed' || 'active' || 'pause'">
        <mat-icon>{{ getTaskIcon(task) }}</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteTask(task.id)" [disabled]="task.state === 'active' || 'pause'">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
