<div class="timer" *ngIf="timerState$ | async as timerState">
  <h2 class="mat-display-4">{{ this.formattedRemainingTime }}</h2>

  <div class="controls">
    <button mat-fab color="primary"
            (click)="toggleTimer()"
            [disabled]="!(isPlayButtonEnabled$ | async)"
            [@rotateAnimation]="timerState.isRunning ? 'pause' : 'play'">
      <mat-icon>{{ timerState.isRunning ? 'pause' : 'play_arrow' }}</mat-icon>
    </button>

    <button mat-fab color="warn" (click)="stopTimer()">
      <mat-icon>stop</mat-icon>
    </button>

    <button mat-fab color="warn" (click)="resetTimer()">
      <mat-icon>replay</mat-icon>
    </button>
  </div>

  <mat-form-field>
    <input matInput [formControl]="durationInputControl" placeholder="Duration (mm:ss)">
    <mat-error *ngIf="durationInputControl.invalid && durationInputControl.errors?.['required']">
      Duration is required.
    </mat-error>
    <mat-error *ngIf="durationInputControl.invalid && durationInputControl.errors?.['pattern']">
      Duration must be in the format mm:ss. (max 99:59)
    </mat-error>
  </mat-form-field>
</div>
