.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--mat-sys-surface);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spacer {
  flex: 1 1 auto;
}

.title {
  margin-right: 16px;
}
