@use '@angular/material' as mat;

// Включаем базовые стили Material
@include mat.elevation-classes();
@include mat.app-background();

// Определяем тему в стиле Material 3
$theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$magenta-palette,
      ),
    )
);

// Оборачиваем применение темы в селектор
.mat-app-background {
  @include mat.all-component-themes($theme);
}

// Глобальные стили
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // Добавляем класс для применения темы
  @extend .mat-app-background;
}
