@use '@angular/material' as mat;

// Include base Material styles
@include mat.elevation-classes();
@include mat.app-background();

// Define theme in Material 3 style
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$magenta-palette,
    ),
  )
);

// Wrap theme application in a selector
.mat-app-background {
  @include mat.all-component-themes($theme);
}

// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  // Add class for theme application
  @extend .mat-app-background;
}
